<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
    integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous" />
  <link href='https://fonts.googleapis.com/css?family=Fjalla One' rel='stylesheet'>
  <link rel="icon" type="ico" href="./assets/images/favicon.ico">
  <link rel="stylesheet" href="./assets/css/style.css">

  <title>Taani Maama</title>
</head>

<body>

  <header class="row col-md-5 my-3 pt-3 pl-5 rounded">
    <h1 class="col-12 mb-0">
      Taani Maama
    </h1>
    <p id='full-stack' class="col-12">FULL-STACK DEVELOPER.</p>
    <p class="lead col-12" >{ <span id="dream">Dream</span>, <span id="develop">Develop</span>, <span
        id="create">Create</span> }</p>
  </header>

  {{{body}}}

  <footer class="py-1 px-3 text-white row fixed-bottom m-0">
    <div id='icons' class="p-1">
      <a href="https://github.com/TaaniBravo" target="_blank"><i class="fab fa-github pr-3 text-white"></i></a>
      <a href="https://www.facebook.com/taanimaama" target="_blank"><i class="fab fa-facebook pr-3 text-white"></i></a>
      <a href="https://www.linkedin.com/in/taani-maama-b86583157/" target="_blank"><i
          class="fab fa-linkedin pr-3 text-white"></i></a>
      <a href="mailto:taanim@uw.edu" target="_blank"><i class="fas fa-envelope-open-text text-white"></i></a>
    </div>
    <div id="copyright" class="d-flex justify-content-center align-items-center">&copy; Taani Maama</div>
  </footer>

  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
    integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"></script>
  <script src="./assets/js/index.js"></script>
</body>

</html>